

  /*----------------------------Contact Page---------------------------------*/

/*#ContactUs{
  background-image: url('../images/contactUs.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  padding: 100px;
  position: relative;

}

#ContactUs h1{
  text-align: center;
  margin-top: 100px;
  margin: 60 auto;
  font-family: "Bookman Old Style";
  font-size: 3.5em;
  letter-spacing: 2.5px;
  position: absolute;
  right: 0;
  left: 0;

}*/

#contactInfo{
  border: 2px #000 solid;
  padding: 10px auto;
  height: 25%;

}

#FName, #LName{
  position: relative;
  top: 20px;

}

#userFirst, #userLast{
  display: inline-block;
  padding: 10px;
  border: 2px #000 ridge;
  text-align: left;
  margin: 10px auto;

}

#phone, #emailInput{
  border: 2px blue solid;
  text-align: left;
  margin: 10 auto;
  padding: 10px 0px;



}

#emailLabel, #phoneLabel{


}
