body{
  padding-top: 10px 80px 10px 20px;

}

#container{
  margin: 0 auto;
  max-width: 80%;
  border: 2px #8f97a3 solid;
  border-radius: 3px;
  text-align: center;
  position: relative;
  overflow: hidden;


}


#container ul{
  list-style: none;
  padding: 0;


}

#container li{
  display: inline;
  padding: 0px 10px;


}

#logo{
  padding-top: 20px;
  max-width: 350px;
  max-height: 200px;

}

#menu a:visited{
  color: #8f97a3;

}

#menu a:link{
  color: #8f97a3;

}

#menu a:hover{
  color: #7f9bff;

}

.eyeIMG{
  width: 200px;
  height: 75px;
  margin: 0 auto;

}

.lashinfo{
  max-width: 200px;
  float: left;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

}
