body{
  width: 960px;
  margin: 0 auto;
  padding: 50px 0px;

}

#container{
  margin: 0 auto;
  width: 100%;
  text-align: center;
  border: 2px #8f97a3 solid;
  border-radius: 3px;
  padding-bottom: 150px;

}


#container ul{
  list-style: none;

}

#container li{
  display: inline;

}

#logo{
  padding-top: 20px;
  max-width: 300px;
  max-height: 150px;

}

#address li{
    padding: 100px;
    color: #8f97a3;

}

#menu li{
  padding: 50px 20px;

}

#menu{
  border-top: 2px #8f97a3 solid;
  border-bottom: 2px #8f97a3 solid;
  border-spacing: 5px;
  margin: 0 auto;
  max-width: 75%;
  height: 20px;


}

#menu a:visited{
  color: #8f97a3;
  text-decoration: none;

}

#menu a:link{
  color: #8f97a3;
  text-decoration: none;

}

#menu a:hover{
  color: #7f9bff;
  text-decoration: underline;

}

#HomeHeader h1{
  font-family: "Bookman Old Style";
  font-size: 3.5em;
  letter-spacing: 2.5px;

}


.eyeIMG{
  width: 200px;
  height: 75px;
  border: 2px #000 double;

}

.lashinfo, .moreinfo{
  float: left;
  padding: 15px;
  margin: 0 auto;
  width: 30%;


}

.lashinfo p, .moreinfo p{
  padding: 15px;
  margin: 0 auto;
  width: 200px;
  text-align: center;
  box-sizing: border-box;

}


input[type=button]{
  background-color: #000;
  border: 1px #000 solid;
  padding: 10px;
  color: #fff;
  font-family: Arial;
  font-weight: 60%;
  width: 120px;
  height: 35px;
  cursor: pointer;


}

input[type=button]:hover{
  color: #7f9bff;
  clear: both;

}

footer{
  clear: both;
  border-bottom: 2px #8f97a3 solid;
  max-width: 75%;
  height: 10%;
  padding: 80px 0px;
  margin: 0 auto;


}

#socialmedia img{
  width: 20px;
  height: 20px;
  padding: 10px;
  display: inline;
  justify-content: center;


}

#socialmedia img:hover{
  opacity: 0.5;
  cursor: pointer;


}



@media(max-width:600px){/*if the page is shrunken 600px or less the float
  set up will clear out and the containers will fill up the width of the page*/
  .lashinfo, .moreinfo{
    width: 100%;
    float: none;

  }
}
